
.color-bg {
    background: #3d7edb;
}

.section-padding {
    padding: 90px 0 34px;
}
.section-padding-1 {
    padding: 90px 0 0px;
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.color-bg h1.arrow {
color: #FFF;
}
h1.arrow {

font-size: 20px;
text-transform: uppercase;
color: #353535;
letter-spacing: 4px;
background: url(../img/h1-bg.png) no-repeat center bottom;
padding-bottom: 10px;
font-weight: bold;
}
.color-bg h1.arrow-1 {
color: #FFF;
}
.arrow-1{
font-size: 30px;
text-transform: uppercase;
color: #353535;
letter-spacing: 4px;
background: url(../img/h1-bg.png) no-repeat center bottom;
padding-bottom: 10px;
font-weight: bold;
}
.color-bg h1.arrow-1 span {
color: #FFE800;
}
.color-bg h1.arrow span {
color: #FFE800;
}
h1.arrow span {
color: #E04343;
}
color-bg h6, .color-bg p {
color: #fff;
}
.intro p {
margin: 20px 0 0;
}
p {
font-size: 14px;
font-weight: 300;
line-height: 28px !important;
}
p {
color: #8c9398;
word-spacing: 1px;
line-height: 25px;
font-size: 14px;
}


@media only screen and  (min-width: 320px)  and (max-width: 480px) {
    .arrow-1{
        font-size: 19px;
    }
    h1.arrow {

        font-size: 16px;
    }
}